.ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

@media screen and (max-width: 1115px) {
    .ul {
        justify-content: center;
    }
}

@media screen and (max-width: 780px) {
    .ul {
        margin-left: 10%;
    }
}

@media screen and (max-width: 727px) {
    .ul {
        margin-left: 15%;
    }
}

@media screen and (max-width: 652px) {
    .ul {
        margin-left: 10%;
    }
}



